<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    </head>

    <body class="bg-light">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a class="navbar-brand mr-auto mr-lg-0" href="/">Campaigns</a>
            <a class="navbar-brand mr-auto mr-lg-0 pl-4" href="/user" style="color: rgb(161, 161, 161)">Profile</a>
        </nav>
        <main role="main" class="container" style="position: relative; top: 100px" data-user-id="{{user.id}}">
            <h1>Your Campaigns</h1>
            {{#each campaigns}}
                <div class="my-3 p-3 bg-white rounded box-shadow" style="position: relative" data-id="{{id}}">
                    <h2>{{name}}</h2>
                    <p>{{details}}</p>
                    <span>{{commits_needed}}</span>
                    <span class="remove-campaign-button" style="color: rgb(201, 18, 18);font-weight: 500; position: absolute; top: 5; right: 5; cursor: pointer; border-radius: 3px; border: 1px solid rgb(201, 18, 18); padding: 4px; font-size: 12px">Remove campaign</span>
                </div>
            {{/each}}
        </main>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/assets/js/app.js"></script>
    </body>
</html>